@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Lấy lại mật khẩu?";
}
<style>
    .fw{
        background-color:white;
        padding:20px;
    }
    .tinhyeu{
        width: 250px;
        height: 40px;
        background-color: #F6F1EE;
        color: #A9A9A9;
        border: none;
        font-weight: 700;
    }
    .tinhyeu:hover{
            background-color: #C51605;
            color: white;
    }
</style>
<div class="fw">
<h1>@ViewData["Title"]</h1>
<h4>Nhập địa chỉ email của tài khoản.</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" placeholder="Nhập email"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="tinhyeu">Gửi</button>
        </form>
    </div>
</div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
