@using System.Collections.Generic
@using BookShop.DAL.Entities;
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication;
@using Microsoft.AspNetCore.Authentication;
@model LoginViewModel
@inject SignInManager<Userr> SignInManager

@{
    ViewData["Title"] = "Đăng nhập";
}
<style>
    .dnkq{
        text-align:center;
    }
    .oi{
        justify-content:center;
    }

    .fomdangnhap{
        background-color:white;
    }
    .phu{
        display:flex;
    }
    .dangkytk {
        width: 250px;
        height: 40px;
        background-color: #F6F1EE;
        color: #A9A9A9;
        border: none;
        font-weight: 700;
    }

    .login_form_inner{
        margin-top: 30px;
    }
    .fpw{
        margin-left:190px;
        text-align:end;
    }
        .dangkytk:hover {
            background-color: #C51605;
            color: white;
        }
</style>
<section class="login_box_area section_gap">
    <div class="container fomdangnhap">
        <div class="row oi">
            <div class="col-6">
                <div class="login_form_inner">
                    @if (!string.IsNullOrEmpty(ViewBag.Error))
                    {
                        <p class="text-danger">@ViewBag.Error</p>
                    }
                    <form class="row login_form" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                        <div class="col-md-12 form-group">
                            <label>Tài Khoản</label>
                            <input asp-for="UserNameOrEmail" type="text" class="form-control" placeholder="Nhập tài khoản">
                                 <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <label>Mật Khẩu</label>
                            <input asp-for="Password" type="password" class="form-control" id="name" placeholder="Nhập mật khẩu">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group phu">
                            <div class="creat_account">
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                            <div class="fpw">
                                <a asp-action="ForgotPassword">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="form-group dnkq">
                            <button type="submit" value="submit" class="dangkytk">Đăng Nhập</button><br />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
