@{
	ViewData["Title"] = "Bán hàng offline";
	Layout = "~/Areas/Admin/Views/Shared/_offlineSaleLayout.cshtml";
}
<div class="row">
	<div class="col-9">
		khu vuc tao don
	</div>
	<div class="col-3">
		khu vuc dien thong tin
	</div>
</div>