@using BookShop.BLL.ConfigurationModel.ProductModel;
@{
    ViewData["Title"] = "Home Page";
    List<ProductViewModel> products = ViewBag.Products;
}
<style>
    .dstt{
        background-color:white;
        padding-top:15px;
        border-radius:10px;
    }
    .giaban {
        font-weight: 700;
        color: #C92127;
        font-size: 30px;
    }

    .giagoc {
        color: rgb(189, 189, 189);
        text-decoration-line: line-through;
    }

    .progress-value {
        margin-top: 20px;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        color: #ffffff;
        background-color: rgb(191, 0, 45);
        font-size: 1em;
        text-align: center;
        font-weight: 700;
        border-radius: 20px
    }
</style>
<div class="row dstt">
    @foreach (var item in products)
    {
        <div class="col-sm-3 testsp">
            <div class="product-image">
                <div class="flashsale-image-container">
                    <img src="@item.imageViewModels.FirstOrDefault().ImageUrl" class="card-img-top" alt="...">
                </div>
                <!--
                <div class="outstock-container">
                    <img class="flashsale-item-chay-hang" src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/flashsale/Chay-hang-icon.svg">
                </div>
                <div class="new-label-pro-sale"><span class="new-p-sale-label discount-l-fs">99%</span></div>-->
            </div>
            <div class="ttsp">
                <h4>
                    @item.Name
                </h4>
                <div>
                </div>
                <div class="giaban">
                    @item.Price
                </div>
                <div class="giagoc">
                    600
                </div>
                <p onclick="location.href='@Url.Action("ChiTietSanPham", new{id = item.Id})'" class="progress-value">Mua</p>
            </div>
        </div>
    }
</div>
@section scripts {
    <script>

        $(document).ready(function () {
            updateTotalCost();

            $('input[type="checkbox"]').change(function () {
                updateTotalCost();
            });

            $('input[type="number"]').change(function () {
                updateTotalCost();
            });

            function updateTotalCost() {
                var totalCost = 0;

                $('tbody tr').each(function () {
                    var checkbox = $(this).find('input[type="checkbox"]');
                    var quantityInput = $(this).find('input[type="number"]');
                    var productPrice = parseInt($(this).find('td:eq(2)').text());
                    var isSelected = checkbox.is(":checked");
                    var quantity = parseInt(quantityInput.val());

                    var individualCost = quantity * productPrice;

                    $(this).find('td:eq(3)').text(individualCost);

                    if (isSelected) {
                        totalCost += individualCost;
                    }
                });

                $('#totalCost').text(totalCost);
            }
        });
    </script>
    <script>
        function removeProduct(productId) {
            $.ajax({
                type: "POST",
                url: "/Cart/RemoveProduct",
                data: { id: productId },
                success: function (result) {
                },
                error: function (error) {
                    console.error("Error removing product:", error);
                }
            });
        }
    </script>


}