@using BookShop.DAL.Entities;
@using Microsoft.AspNetCore.Identity;
@model IEnumerable<BookShop.BLL.ConfigurationModel.WishListModel.WishListViewModel>
@inject SignInManager<Userr> SignInManager
@inject UserManager<Userr> UserManager
@{
	ViewData["Title"] = "Danhsachyeuthich";
}
<style>
	.dsyeuthich {
		background-color: white;
		border-radius: 10px;
		padding: 10px;
	}

		.dsyeuthich .container .table-responsive {
			margin-top: 10px;
		}
</style>

<div class="dsyeuthich">
	<h1>Danh sách yêu thích của bạn</h1>
	<div class="container">
		<input type="text" id="keyWordFind" oninput="searchOnEnter(event)" placeholder="Nhập từ khóa tìm kiếm...">
		<button class="btn btn-primary" id="searchBtn">Tìm kiếm</button>
		<div class="table-responsive">
			<table class="table" id="wishlistTable">
				<thead>
					<tr style="text-align:center">
						<th>STT</th>
						<th>Ảnh</th>
						<th>Tên</th>
						<th>Lựa chọn</th>
					</tr>
				</thead>
				<tbody id="listcategory">
				</tbody>
			</table>
		</div>
	</div>
</div>
<script src="~/js/site.js"></script>
<script>
	function xoa(id) {
		var url = "@Url.Action("XoaYeuThich", "Home")?id=" +id;
		$.ajax({
			url: url,
			success: function (data) {
				if (data.success === true) {
					alert("Đã xóa sản phẩm ra khỏi danh sách yêu thích");
					location.reload();
					
				} else {
					alert("Sản phẩm này đã có trong mục yêu thích");
				}
			},
			error: function () {
				console.log("AJAX request failed");
			}
		});
	}
	function loadData(pageIndex) {
		var keyWord = document.getElementById("keyWordFind").value;
		var index = (pageIndex - 1) * 10;
		$.ajax({
			url: '@Url.Action("Getdata", "Home")',
			type: 'GET',
			data: { page: pageIndex, keyWord: keyWord },
			success: function (data) {
				console.log(data);
				var listcategory = $("#listcategory");
				listcategory.empty();

				data.data.forEach(function (item) {
					index += 1;
					var categoryRow = '<tr>' +
						'<td class="text-center">' + index + '</td>' +
						'<td class="text-center anh" onclick="ChiTietSanPham(' + item.id_Product + ')">' + '<img style="height: 150px;width: 150px; " src = "' + item.imgUrl + '" > ' + 
						
						'</td>' +
						'<td class="text-center"><label>' + item.name + '</label></td>' +
						'<td class="text-center"><button class="btn btn-warning" onclick="xoa('+ item.id_Product+')">Xóa</button>' +
						'</tr>';

					listcategory.append(categoryRow);
				});
				createPagingButtons(1, data.max, data.page);
			},
			error: function (error) {
				console.log('Lỗi: ' + error.responseText);
			}
		});
	}
	$(document).ready(function () {
		loadData(1);
	});
	function searchOnEnter(event) {
		loadData(1);
	}
	function ChiTietSanPham(id) {
		var url = "@Url.Action("ChiTietSanPham", "Home")?id=" + id;
		window.location.href = url;
	}
</script>