@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    a{
        margin:0px;
        padding:0px;
    }
    .tt {
        background-color: white;
        border-radius: 10px
    }
    .t1, .col-2 p {
        margin-top: 10px;
    }
    .dssanpham{
        margin-top:20px;
        background-color:white;
        border-radius:10px;
        padding:5px;
    }
    .dsanh {
        display: flex;
    }
    .col-1 input{
        justify-content:center;
        margin: 20px 0;
        padding: 10px;
    }
        .dsanh img {
            height: 120px;
            width: 120px;
        }
    .thongtin{
        margin-left:10px;
        display:flex;
    }
    .giaban ,.giagoc{
        margin-top:40px;
    }
    .giaban{
        color:red;
    }
    .giagoc{
        margin-left:10px;
        color: #878683;
        text-decoration:line-through;
    }
    .wrapper {
        border: 1px solid rgba(0,0,0,0.2);
        display: flex;
        justify-content: center;
        border-radius: 12px;
        cursor: pointer;
    }

        .wrapper span {
            width: 100%;
            text-align: center;
            font-weight: 600;
        }
            .wrapper span.num {
                font-size: 20px;
                border-left: 2px solid rgba(0,0,0,0.2);
                border-right: 2px solid rgba(0,0,0,0.2);
                pointer-events: none;
            }
</style>
<div>
    <p>Giỏ hàng</p>
</div>
<div class="row">
    <div class="col-8 ">
        <table border="1" id="mytable" class="table tt">
            <thead>
                <tr>
                    <th><input type="checkbox" name="" id="checkAll" onchange="checkAll(this)"></th>
                    <th>Sản Phẩm</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody id="mylist">
                <tr class="">
                    <td><input type="checkbox" name="checkbox" id="" onchange="turnQtyInput(this)"></td>
                    <td>
                        <div class="dsanh">
                            <img src="~/img/IMG_565456.png"/>
                            <div class="thongtin">
                                Tên sách
                            </div>
                        </div>
                    </td>
                    <td>$80</td>
                    <td>
                        <input type="number" id="khanh" disabled onchange="countCost()">
                        <div class="wrapper">
                            <span class="minus">-</span>
                            <span class="num" type="number" name="qty" id="khanh" onchange="countCost()">01</span>
                            <span class="plus">+</span>
                        </div>
                    </td>
                    <td><span class="cost"></span></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">TỔNG</td>
                    <td><span id="totalcost"></span></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="col-4">
        <div>
            List Khuyến Mãi
        </div>
        <div>
            <div>
                <p>Thành Tiền</p>
                <p><span id="totalcost"></span></p>
            </div>
            <div>
                <input type="button" disabled class="btn btn-warning" id="buyNow" value="Thanh Toán"/>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var priceRange = document.getElementById("price-range")
    var mylist = document.getElementById("mylist")
    var rows = mylist.getElementsByTagName("tr")
    var cost = document.getElementsByClassName("cost")
    var qty = document.getElementsByName("qty")
    var checkboxes = document.getElementsByName("checkbox")
    var totalcost = document.getElementById("totalcost")
    function turnQtyInput(source) {
        var row = source.parentElement.parentElement
        var qtyInput = row.getElementsByTagName("input")[1]
        if (source.checked == true) {
            qtyInput.disabled = false
        } else {
            qtyInput.disabled = true
            resetCost(source)
        }
    }

    function checkAll(source) {
        for (let i = 0; i < rows.length; i++) {
            checkboxes[i].checked = source.checked
            qty[i].disabled = !source.checked
        }
        resetCost("all")
    }
    function countCost() {
        var sum = 0
        for (let i = 0; i < rows.length; i++) {
            var price = +rows[i].getElementsByTagName("td")[2].innerText.substring(1)
            cost[i].innerText = "$" + qty[i].value * price 
            sum += +cost[i].innerText.substring(1)
        }
        totalcost.innerHTML = "$" + sum
    }

    function resetCost(source) {
        if (source == "all") {
            for (let i = 0; i < rows.length; i++) {
                rows[i].getElementsByTagName("input")[1].value = 0
            }
            countCost()
        }
        var row = source.parentElement.parentElement
        row.getElementsByTagName("input")[1].value = 0
        countCost()
    }
    const plus = document.querySelector(".plus"),
        minus = document.querySelector(".minus"),
        num = document.querySelector(".num");

    let a = 1;
    plus.addEventListener("click", () => {
        a++;
        a = (a < 10) ? "0" + a : a;
        num.innerHTML = a;
        console.log(a);
    });
    minus.addEventListener("click", () => {
        if (a > 1) {
            a--;
            a = (a < 10) ? "0" + a : a;
            num.innerText = a;
        }
    });
    document.getElementById('buyNow').addEventListener('click', function () {
        var quantity = document.getElementById('quantityInput').value;
        // var result = "@Url.Action("AddToCart", "Cart")?id=@Model.Id&quantity=" + quantity;
        var url = "@Url.Action("CreateOnlineOrder", "Order")?id=@Model.Id&quantity=" + quantity
        window.location.href = url;
    });
</script>