@model EditExtraProfileModel
@{
    ViewData["Title"] = "Hồ sơ cá nhân";
}
<style>
    .ttcn{
        background-color:white;
        padding:10px;
        border-radius:10px
    }
    .ddd{
        text-align:center;
    }
    .ddd button{
        width:200px;
    }
</style>
<div class="row ttcn">
    <div class="col-md-6 container">
        <h4>@ViewData["Title"]</h4>
        <form asp-action="EditProfile" id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="UserEmail"></label>
                <input asp-for="UserEmail" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            <div class="ddd">
            <button id="update-profile-button" type="submit" class="btn btn-primary">Lưu dữ liệu</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}



