@using System.Globalization;
@model IEnumerable<BookShop.BLL.ConfigurationModel.ProductModel.ProductViewModel>

<style>
	body {
		width: 100%;
	}
</style>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
}

<body>
	<h1>Index</h1>

	<p>
		<button class="btn btn-primary" onclick="location.href='@Url.Action("Create")'"><i class="fa-solid fa-circle-plus"></i> Create</button>
	</p>
	<div class="m-1 row">
		<select id="type-filter" class="col-2 border-info" onchange="loadData(1)" style="max-width: 250px; min-width: 100px; margin-left: 16px">
			<option value="" selected>Tất cả</option>
			<option value="1">Sản phẩm lẻ</option>
			<option value="2">Sản phẩm combo</option>
		</select>
		<select id="status-filter" class="col-2 border-info" onchange="loadData(1)" style="max-width: 250px; min-width: 100px; margin-left: 16px">
			<option value="" selected>Tất cả</option>
			<option value="1">Đang bán</option>
			<option value="0">Không bán</option>
			<option value="2">Hết hàng</option>
		</select>
		<div class="col-2 btn-group">
			<input id="keyWord-find" class="btn btn-outline-info" placeholder="enter name or collection name" oninput="loadData(1)">
			<button onclick="loadData(1)" class="btn btn-info"><i class="fa-solid fa-magnifying-glass"></i></button>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th class="text-center">Stt</th>
				<th class="text-center">Tên sản phẩm</th>
				<th class="text-center">Số lượng</th>
				<th class="text-center">Giá bán</th>
				<th class="text-center">Bộ sưu tập</th>
				<th class="text-center">Loại</th>
				<th class="text-center">Trạng thái</th>
				<th class="text-center"></th>
			</tr>

		</thead>
		<tbody id="prod-list">
		</tbody>
	</table>
	<div id="buttonContainer"></div>
</body>

<script src="~/js/site.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		loadData(1);
	});

	function getDetail(id) {
		var url = "@Url.Action("Details", "Product")?id=" + id
		window.location.href = url;
	}
	function editProduct(id) {
		var url = "@Url.Action("Edit", "Product")?id=" + id
		window.location.href = url;
	}

	function loadData(pageIndex) {
		// Gửi yêu cầu Ajax đến máy chủ
		var type = document.getElementById("type-filter").value;
		var status = document.getElementById("status-filter").value;
		var keyWord = document.getElementById("keyWord-find").value;
		var index = (pageIndex - 1) * 10;
		index
		$.ajax({
			url: '@Url.Action("GetProduct", "Product")',
			type: 'GET',
			data: { page: pageIndex, type: type, status: status, keyWord: keyWord },
			success: function (data) {
				// Xóa danh sách cũ trước khi thêm danh sách mới
				var dataList = $("#prod-list");
				dataList.empty();
				let statusName = "";
				let statusColor = "";
				let typeName = "";
				// Thêm danh sách đơn hàng vào HTML
				data.data.forEach(function (item) {
					index += 1;
					if (item.status === 0) {
						statusName = "Không bán";
						statusColor = "text-danger";
					} else if (item.status === 1 && item.quantity < 1) {
						statusName = "Hết hàng";
						statusColor = "text-warning";
					} else if (item.status === 1 && item.quantity > 0) {
						statusName = "Đang bán";
						statusColor = "text-success";
					}
					if (item.type === 1) typeName = "Bán lẻ";
					else typeName = "Bán combo"
					var dataRow =
						'<tr class="table table-bordered border-dark">' +
						'<td class="text-center">' + index + '</td>' +
						'<td class="text-center"><label>' + item.name + '</label></td>' +
						'<td class="text-center"><label>' + item.quantity + '</label></td>' +
						'<td class="text-center"><label>' + formatCurrency(item.price) + '</label></td>' +
						'<td class="text-center"><label>' + item.collectionName + '</label></td>' +
						'<td class="text-center"><label>' + typeName + '</label></td>' +
						'<td class="text-center ' + statusColor + '"><strong>' + statusName + '</strong></td>' +
						'<td class="text-center">'+
						'<button class="btn btn-success" onclick="getDetail(' + item.id + ')">Xem</button>'+
						'<button class="btn btn-warning ms-2" onclick = "editProduct(' + item.id + ')">Sửa</button>' +
						'</td>' +
						'</tr>';

					dataList.append(dataRow);
				});
				createPagingButtons(1, data.max, data.page);
			},
			error: function (error) {
				console.log('Lỗi: ' + error.responseText);
			}
		});
	}
</script>
