@model BookShop.BLL.ConfigurationModel.SupplierModel.SupplierViewModel

@{
    ViewData["Title"] = "Create";
}

<style>
    .form-group.cus {
        display: flex;
        justify-content: space-between;
    }
</style>
<h1 style="text-align:center;">Thêm mới danh mục</h1>

<div class="row" style="justify-content: center;">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên nhà xuấ bản</label>
                <input asp-for="Name" class="form-control" required maxlength="100" pattern="^[^\d\x25&$*#!^]+$/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="Status" class="control-label">Trạng thái</label>
                <select asp-for="Status" class="form-control">
                    <option value="1">Hoạt động</option>
                    <option value="0">Không hoạt động</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
           
            <div class="form-group cus">
                <a asp-action="Index">Xem danh sách danh mục</a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

