<a asp-area="Admin" asp-controller="Product" asp-action="Index">hao hao chua cay</a>
<a asp-area="Admin" asp-controller="OfflineSale" asp-action="CreateOfflineOrder">ban nha ofline</a>

@*@Html.PartialAsync("Index.cshtml")*@