<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Bootstrap JS and dependencies -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="~/js/layout.js"></script>
	<link rel="stylesheet" href="~/css/Admin/admin.css">
	<style>


	</style>
</head>

<body>
	<div class="skin">
		<div class="wrapper">
			<div class="main-header col-12">
				<div class="row">
					<div class="logo col-2">
						<img class="img" src="https://png.pngtree.com/png-vector/20210222/ourlarge/pngtree-cool-gamer-with-hat-mascot-logo-design-png-image_2932196.jpg" alt="Logo">
						<div class="logo-details">
							<i class='bx bx-menu'></i>
							<span class="logo_name">FROM</span>
						</div>
					</div>
					<div class="menu-right col-6">
					</div>
				</div>
			</div>
			<div class="row">
				<aside class="left-side col-2">
					<section class="sidebar">
						<ul class="sidebar-menu">
							<li class="nav-item active">
								<span href="#homeSubmenu" class="nav-link dropdown-toggle" data-toggle="collapse" aria-expanded="false" >Home</span>
								<ul class="collapse " id="homeSubmenu">
									<li href="#">
											<i class="fa fa-plus"></i>
											<a >Home 1</a>
									</li>
									<li>
										<div href="#">
											<i class="fa fa-plus"></i>
											<a>Home 1</a>
										</div>
									</li>
									<li>
										<div href="#">
											<i class="fa fa-plus"></i>
											<a>Home 1</a>
										</div>
									</li>
								</ul>
							</li>
						
							<li class="nav-item active">
								<span href="#homeSubmenu" class="nav-link dropdown-toggle" data-toggle="collapse" aria-expanded="false">Home</span>
								<ul class="collapse " id="homeSubmenu">
									<li href="#">
										<i class="fa fa-plus"></i>
										<a>Home 1</a>
									</li>
									<li>
										<div href="#">
											<i class="fa fa-plus"></i>
											<a>Home 1</a>
										</div>
									</li>
									<li>
										<div href="#">
											<i class="fa fa-plus"></i>
											<a>Home 1</a>
										</div>
									</li>
								</ul>
							</li>
							<li class="nav-item active">
								<span href="#homeSubmenu" class="nav-link dropdown-toggle" data-toggle="collapse" aria-expanded="false">Home</span>
								<ul class="collapse " id="homeSubmenu">
									<li href="#">
										<i class="fa fa-plus"></i>
										<a>Home 1</a>
									</li>
									<li>
										<div href="#">
											<i class="fa fa-plus"></i>
											<a>Home 1</a>
										</div>
									</li>
									<li>
										<div href="#">
											<i class="fa fa-plus"></i>
											<a>Home 1</a>
										</div>
									</li>
								</ul>
							</li>

						</ul>
					</section>
				</aside>

				<div class="content-wrapper col-10">
					<div class="box">
						<div class="box-header">
							Content Header
						</div>
						<div class="box-body">
							<p>Sample Content Goes Here</p>
							<p>More Content Goes Here</p>
							@RenderBody()

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
