
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
   
    <link rel="stylesheet" href="~/lib/chosen_v1.8.7/chosen.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/Admin/Responsive.css">
    <link rel="stylesheet" href="/css/Admin/style.css">


		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: "Poppins", sans-serif;
		}

	.sidebar {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 260px;
		background-color: #11101d;
		z-index: 100;
		transition: all 0.5s ease;
	}

		.sidebar.close {
			width: 78px;
		}

		.sidebar .logo {
			height: 60px;
			display: flex;
			width: 100%;
			align-items: center;
		}

		.logo .menu-icon {
			color: #333;
			font-size: 24px;
			margin-right: 14px;
			cursor: pointer;
		}
		ul{
			padding-left:0px;
		}
		.logo .logo-name {
			color: #333;
			font-size: 22px;
			font-weight: 500;
		}

		nav .sidebar {
			position: fixed;
			top: 0;
			left: -100%;
			height: 100%;
			width: 260px;
			padding: 20px 0;
			background-color: #fff;
			box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
			transition: all 0.4s ease;
		}

		nav.open .sidebar {
			z-index:1;
			left: 0;
		}

		.sidebar .sidebar-content {
			display: flex;
			height: 100%;
			flex-direction: column;
			justify-content: space-between;
			padding: 30px 16px;
		}

		.sidebar-content .list {
			list-style: none;
		}

		.list .nav-link {
			display: flex;
			align-items: center;
			margin: 8px 0;
			padding: 14px 12px;
			border-radius: 8px;
			text-decoration: none;
		}

		.lists .nav-link:hover {
			background-color: #4070f4;
		}

		.nav-link .icon {
			margin-right: 14px;
			font-size: 20px;
			color: #707070;
		}

		.nav-link .link {
			font-size: 16px;
			color: #707070;
			font-weight: 400;
		}

		.lists .nav-link:hover .icon,
		.lists .nav-link:hover .link {
			color: #fff;
		}

		.overlay {
			position: fixed;
			top: 0;
			left: -100%;
			height: 1000vh;
			width: 200%;
			opacity: 0;
			pointer-events: none;
			transition: all 0.4s ease;
			background: rgba(0, 0, 0, 0.3);
		}

		nav.open ~ .overlay {
			opacity: 1;
			left: 260px;
			pointer-events: auto;
		}

		.main-content .content-body {
			text-align: center;
		}

		.sub-list {
			display: none;
		}
		
		.sub-list {
			list-style: none;
			padding: 0;
		}

			.sub-list li {
				margin: 0;
				padding: 10px 0;
			}

				.sub-list li a {
					text-decoration: none;
					color: #666;
					padding: 5px 20px;
					display: block;
				}

					.sub-list li a:hover {
						background-color: #f1f1f1;
						color: #333;
					}

		.menu-container {
			max-height: 1440px; 
			overflow-y: auto; 
		}
	</style>
	<title>Document</title>

</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bx-menu'></i>
            <span class="logo_name">Menu</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="">
                    <i class='bx bx-desktop'></i>
                    <span class="link_name">Bàn làm việc</span>
                </a>
                <ul class="sub-menu">
                    <li><a class="link_name" href="">Bàn làm việc</a></li>
                </ul>
            </li>
            <li>
                <div class="icon_links">
                    <a href="">
                        <i class='bx bx-grid-alt'></i>
                        <span class="link_name">Sản Phẩm</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="">Quản lý</a></li>
                    <li><a href="">Danh sách</a></li>
                    <li><a href="">Thể loại</a></li>
                    <li><a href="">Tác giả</a></li>
                    <li><a href="">Đánh giá</a></li>
                </ul>
            </li>
            <li>
                <div class="icon_links">
                    <a href="">
                        <i class='bx bx-cart'></i>
                        <span class="link_name">Đơn hàng</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="">Quản lý</a></li>
                    <li><a href="">Danh sách</a></li>
                    <li><a href="">Thể loại</a></li>
                    <li><a href="">Tác giả</a></li>
                    <li><a href="">Đánh giá</a></li>
                </ul>
            </li>
            <li>
                <div class="icon_links">
                    <a href="">
                        <i class='bx bxs-user-detail'></i>
                        <span class="link_name">Khách hàng</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="">Quản lý</a></li>
                    <li><a href="">Danh sách</a></li>
                    <li><a href="">Thể loại</a></li>
                    <li><a href="">Tác giả</a></li>
                    <li><a href="">Đánh giá</a></li>
                </ul>
            </li>
            <li>
                <div class="icon_links">
                    <a href="">
                        <i class='bx bx-dollar-circle'></i>
                        <span class="link_name">Khuyến mãi</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="">Quản lý</a></li>
                    <li><a href="">Danh sách</a></li>
                    <li><a href="">Thể loại</a></li>
                    <li><a href="">Tác giả</a></li>
                    <li><a href="">Đánh giá</a></li>
                </ul>
            </li>
            <li>
                <div class="icon_links">
                    <a href="">
                        <i class='bx bx-bookmark-alt-plus'></i>
                        <span class="link_name">Bài đăng</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" href="">Quản lý</a></li>
                    <li><a href="">Danh sách</a></li>
                    <li><a href="">Thể loại</a></li>
                    <li><a href="">Tác giả</a></li>
                    <li><a href="">Đánh giá</a></li>
                </ul>
            </li>
        </ul>
        <div class="bottom-options">
            <a href="javascript:" class="button logout-button">Đăng xuất</a>
            <a href="javascript:" class="button sell-button">Bán hàng tại quầy</a>
        </div>
    </div>
    <section class="home-section">
        <div class="home-content">
            <span class="text">Text-Content</span>
        </div>
    </section>
    <div class="row">
            <div class="box">
                <div class="box-header">
                    Content Header
                </div>
                <div class="box-body">
                    @RenderBody()
                </div>
            </div>
       
	</div>
    
    <script src="/lib/chosen_v1.8.7/docsupport/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/lib/chosen_v1.8.7/chosen.jquery.js"></script>
    <script src="/lib/chosen_v1.8.7/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/chosen_v1.8.7/docsupport/init.js" type="text/javascript" charset="utf-8"></script>

	<script>
		const navBar = document.querySelector("nav"),
			menuBtns = document.querySelectorAll(".menu-icon"),
			overlay = document.querySelector(".overlay");

		menuBtns.forEach((menuBtn) => {
			menuBtn.addEventListener("click", () => {
				navBar.classList.toggle("open");
			});
		});

		overlay.addEventListener("click", () => {
			navBar.classList.remove("open");
		});
	</script>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var parentItems = document.querySelectorAll('.list');

			parentItems.forEach(function (item) {
				item.addEventListener('click', function (event) {
					var subList = item.querySelector('.sub-list');
					if (subList) {
						event.preventDefault();
						subList.style.display = (subList.style.display === 'block') ? 'none' : 'block';
					}
				});
			});
		});

	</script>
</body>

</html>
