<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>@ViewData["Title"]</title>
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="~/css/Admin/admin.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<style>
		/*/* Định dạng menu dọc bên trái */
		.sidebar {
			width: 250px;
			height: 100vh;
			background-color: #333;
			color: #fff;
			font-family: Arial, sans-serif;
			position: fixed;
			left: 0;
			top: 0;
		}

			.sidebar li a {
				transition: background-color 0.3s ease;
			}

			.sidebar i {
				font-size: 24px;
				margin-right: 10px;
			}

			.sidebar li a {
				padding: 15px 20px;
				margin-bottom: 10px;
			}

		.arrow {
			margin-left: auto;
			transform: rotate(90deg);
		}
		.content {
			margin-left: 250px;
			padding: 20px;
		}

		.navbar {
			background-color: #f8f9fa;
		}

		.footer {
			background-color: #333;
			color: #fff;
			text-align: center;
			padding: 10px 0;
			position: fixed;
			bottom: 0;
			width: 100%;
		}
	</style>
</head>
<body>
	<div class="wrapper">

		<nav class="sidebar">
			<div class="logo-details">
				<i class='bx bx-menu'></i>
				<span class="logo_name">Dashboard</span>
			</div>
			<ul class="list-unstyled">
				<li>
					<a href="#">
						<i class='bx bx-desktop'></i>
						<span class="link_name">Bàn làm việc</span>
					</a>
				</li>
				<li>
					<div class="icon_links">
						<a href="#">
							<i class='bx bx-grid-alt'></i>
							<span class="link_name">Sản Phẩm</span>
						</a>
						<i class='bx bxs-chevron-down arrow'></i>
					</div>
					<ul class="sub-menu">
						<li><a class="link_name" href="#">Quản lý</a></li>
						<li><a href="#">Danh sách</a></li>
						<li><a href="#">Thể loại</a></li>
						<li><a href="#">Tác giả</a></li>
						<li><a href="#">Đánh giá</a></li>
					</ul>
				</li>

			</ul>
		</nav>


		<div class="content">
			<nav class="navbar navbar-expand-lg bg-body-tertiary">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">Navbar</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Link</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Dropdown
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="#">Action</a></li>
									<li><a class="dropdown-item" href="#">Another action</a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item" href="#">Something else here</a></li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link disabled" aria-disabled="true">Disabled</a>
							</li>
						</ul>
						<form class="d-flex" role="search">
							<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
							<button class="btn btn-outline-success" type="submit">Search</button>
						</form>
					</div>
				</div>
			</nav>

			@RenderBody()
		</div>
	</div>

	<footer class="footer">
		Duy
	</footer>

</body>
</html>
