@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" />
<!-- Google Fonts Roboto -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
        crossorigin="anonymous"></script>


<body>
    <div class="card-body">
        <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
        <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" height="301" width="990" style="display: block; width: 990px; height: 301px;"></canvas>
    </div>
</body>
<!-- Custom scripts -->
<script>
    //Graph
    $(document).ready(function () {
        $.ajax({
            url: "/Admin/Gembox/Chart",
            method: "GET",
            success: function (data) {
                // Chuyển đổi dictionary thành mảng
                var labels = [];
                var dataArray = [];
                for (var day in data) {
                    labels.push(day);
                    dataArray.push(data[day]);
                }

                var ctx = document.getElementById("myChart");
                var myChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: labels, // Sử dụng mảng labels trực tiếp
                        datasets: [{
                            label: "Doanh thu xuất",
                            data: dataArray,
                            lineTension: 0,
                            backgroundColor: "transparent",
                            borderColor: "#007bff",
                            borderWidth: 4,
                            pointBackgroundColor: "#007bff",
                        }],
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: false,
                                },
                            }],
                        },
                        legend: {
                            display: false,
                        },
                    },
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error("Lỗi AJAX:", textStatus, errorThrown);
            }
        });
    });
</script>
