@using BookShop.BLL.ConfigurationModel.OrderModel
@using BookShop.BLL.ConfigurationModel.ProductModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com -->
<html lang="en" dir="ltr">
<style>
    /*  DowloadButton */
    

    #myButton {
        font-family: Arial, sans-serif; 
        font-size: 16px;
        border: 1px solid #ccc; 
        border-radius: 5px; 
        color: #fff; 
        background-color: #007bff;
    }

    #myButton a {
            text-decoration: none;
            color: white;
    }

#myButton:hover {
    background-color: #0062cc; 
}

    /* Googlefont Poppins CDN Link */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    .home-section1 {
        position: relative;
        background: #f5f5f5;
        min-height: 100vh;
        width: calc(100% - 240px);
        left: 240px;
        transition: all 0.5s ease;
    }

        .home-section1 .home-content1 {
            position: relative;
            padding-top: 104px;
        }

    .home-content1 .overview-boxes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 20px;
        margin-bottom: 26px;
    }

    .overview-boxes .box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% / 4 - 15px);
        background: #fff;
        padding: 15px 14px;
        border-radius: 12px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }

    .overview-boxes .box-topic {
        font-size: 20px;
        font-weight: 500;
    }

    .home-content1 .box .number {
        display: inline-block;
        font-size: 25px;
        margin-top: -6px;
        font-weight: 500;
    }

    .home-content1 .box .indicator {
        display: flex;
        align-items: center;
    }

        .home-content1 .box .indicator i {
            height: 20px;
            width: 20px;
            background: #8FDACB;
            line-height: 20px;
            text-align: center;
            border-radius: 50%;
            color: #fff;
            font-size: 20px;
            margin-right: 5px;
        }

    .box .indicator i.down {
        background: #e87d88;
    }

    .home-content1 .box .cart {
        display: inline-block;
        font-size: 32px;
        height: 50px;
        width: 70px;
        background: #cce5ff;
        line-height: 50px;
        text-align: center;
        color: #66b0ff;
        border-radius: 12px;
        margin: -15px 0 0 6px;
    }

        .home-content1 .box .cart.two {
            color: #2BD47D;
            background: #C0F2D8;
        }

        .home-content1 .box .cart.three {
            color: #ffc233;
            background: #ffe8b3;
        }

        .home-content1 .box .cart.four {
            color: #e05260;
            background: #f7d4d7;
        }

    .home-content1 .total-order {
        font-size: 20px;
        font-weight: 500;
    }

    .home-content1 .sales-boxes {
        display: flex;
        justify-content: space-between;
        /* padding: 0 20px; */
    }

        /* left box */
        .home-content1 .sales-boxes .recent-sales {
            width: 100%;
            background: #fff;
            padding: 20px 30px;
            margin: 0 20px;
            border-radius: 12px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        }

        .home-content1 .sales-boxes .sales-details {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    .sales-boxes .box .title {
        font-size: 24px;
        font-weight: 500;
        /* margin-bottom: 10px; */
    }

    .sales-boxes .sales-details li.topic {
        font-size: 20px;
        font-weight: 500;
    }

    .sales-boxes .sales-details li {
        list-style: none;
        margin: 8px 0;
    }

        .sales-boxes .sales-details li a {
            font-size: 18px;
            color: #333;
            font-size: 400;
            text-decoration: none;
        }

    .sales-boxes .box .button {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

        .sales-boxes .box .button a {
            color: #fff;
            background: #0A2558;
            padding: 4px 12px;
            font-size: 15px;
            font-weight: 400;
            border-radius: 4px;
            text-decoration: none;
            transition: all 0.3s ease;
        }

            .sales-boxes .box .button a:hover {
                background: #0d3073;
            }
</style>
<head>
    <meta charset="UTF-8">
    <title> Responsiive Admin Dashboard | CodingLab </title>

    <!-- Boxicons CDN Link -->

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>


    <div class="home-content1">


        <p>      </p>
        <div class="sales-boxes">
            <div class="recent-sales box">
                @await Html.PartialAsync("Chart")
            </div>
        </div>

        <p>     </p>
        <div class="overview-boxes">
            <div class="box">
                <div class="right-side">
                    <div class="box-topic">Doanh thu hôm nay</div>
                    <div class="number"> @await Html.PartialAsync("GetTotalDateRevenue")</div>
                    <div class="indicator">
                    </div>
                </div>
                <i class='bx bxs-cart' style="font-size: 50px; color: blue;"></i>
            </div>
            <div class="box">
                <div class="right-side">
                    <div class="box-topic">Doanh thu Tháng nay</div>
                    <div class="number"> @await Html.PartialAsync("GetTotalRevenueByMonth")</div>
                    <div class="indicator">
                    </div>
                </div>
                <i class='bx bxs-cart-add' style="font-size: 50px; color: green;"></i>
            </div>

            <div class="box">
                <div class="right-side">
                    <div class="box-topic">Toàn bộ doanh thu</div>
                    <div class="number">@await Html.PartialAsync("GetTotalRevenue")</div>
                    <div class="indicator">
                        @*  <i class='bx bx-down-arrow-alt down'></i>
                        <span class="text">Down From Today</span> *@
                    </div>
                </div>
                <i class='bx bxs-cart-download' style="font-size:50px; color:red;"></i>
            </div>
        </div>

     

        <p>      </p>


        @await Html.PartialAsync("GetOrderByStatus")




        <p>   </p>
        <div class="sales-boxes">
            <div class="recent-sales box">
                <div class="title">Top Selling</div>
                <div class="sales-details">
                    <ul class="details">
                        <li class="topic">Tên Sản Phẩm</li>
                        @foreach (var product in ViewBag.ProductList)
                        {
                            <p>@product.Name</p>
                        }
                    </ul>
                    <ul class="details">
                        <li class="topic">Giá</li>
                        @foreach (var product in ViewBag.ProductList)
                        {
                            <p>@product.Price</p>
                        }
                    </ul>
                    <ul class="details">
                        <li class="topic">Số Lượng đã bán</li>
                        @foreach (var product in ViewBag.ProductList)
                        {
                            <p>@product.QuantitySold</p>
                        }
                    </ul>
                    <ul class="details">
                        <li class="topic">Tổng</li>
                        @foreach (var product in ViewBag.ProductList)
                        {
                            <p>@product.TotalRevenue</p>
                        }
                    </ul>

                </div>
                <div class="button">
                    <a href="/Admin/Gembox/GetAllTopsale">Xem Tất Cả</a>
                </div>
            </div>

        </div>
        <p>         </p>
        <div class="sales-boxes">
            <div class="recent-sales box">
                @await Html.PartialAsync("GetProductBook")

            </div>
        </div>

        <p>         </p>
        <div class="sales-boxes">
            <div class="recent-sales box">
                @await Html.PartialAsync("GetHighestInvoice")
            </div>
        </div>
        <p>         </p>
        <div class="sales-boxes">
            <div class="recent-sales box">
                @await Html.PartialAsync("GetProductsSortedByQuantityAsc")

            </div>
        </div>
        <button class="button" id="myButton">
            <a asp-action="export" asp-controller="Gembox" download="D:\Study File\DATN\BookShop.Web.Client\wwwroot\exel\demothongke.xlsx">Tải xuống toàn bộ hóa đơn</a>
        </button>
    </div>



</body>
</html>
<script>
    // Lấy tham chiếu đến nút bằng cách sử dụng phương thức querySelector
    var myButton = document.querySelector('#myButton');

    // Thêm một trình nghe sự kiện cho sự kiện click
    myButton.addEventListener('click', function () {
        // Xử lý khi nút được click
        alert('Đã lưu');
    });
</script>
