<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SHOPBOOK</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookShop.Web.Client.styles.css" asp-append-version="true" />
    <!-- Lọc Thành Phố, Quận Huyện, Xã phường -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<style>
    .dropdown:hover > .dropdown-menu {
        display: block;
    }

    .dropdown > .dropdown-toggle:active {
        pointer-events: none;
    }

    .dropdown {
        margin: 33px auto 32px auto;
    }

    .timkiem {
        margin: 26px auto 25px auto;
        margin-left: 30px;
    }

    .m26 {
        margin: auto;
        justify-content: flex-start;
        height: 68px;
        text-align: center;
        webkit-align-items: center;
    }

    .search_box {
        display: block;
        width: 100%;
    }

    .bb {
        background-color: rgb(224, 224, 224);
    }

    .dndk {
        text-align: center;
        font-weight: 700;
        padding-bottom: 5px;
        color: black;
    }

        .dndk:hover {
            color: orangered;
            border-bottom: 1px solid orangered;
            text-decoration: none;
        }

    .dn1 {
    }

    .form .btn {
        justify-content: center;
    }

    .t {
        cursor: pointer;
    }

    .cuoitrang {
        background-color: white;
        margin-top: 30px;
        border-radius: 10px
    }
    .cuoicc{
        margin-top:15px;
        padding-top:15px   }
</style>
<body class="bb">
    <header>
        <div class="gi">
            <div style="justify-content:center">
                <img style="text-align:center;width:100%;height:55px" src="https://cdn0.fahasa.com/media/wysiwyg/Thang-09-2023/MCBOOKBirthdayT923_Diamond_BannerHeader_1263x60.jpg" />
            </div>
        </div>
        <div>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 m26">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img width="216px" height="57px" src="https://cdn0.fahasa.com/media/quiz-game-T7/Avatar_IconApp_SN47_logoSN47_1.png" /></a>
                    <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <div class="dropdown">
                                    <div class=" dropdown-toggle" data-toggle="dropdown">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-grid" viewBox="0 0 16 16">
                                            <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z" />
                                        </svg><span class="	glyphicon glyphicon-menu-hamburger"></span>
                                    </div>
                                    <div class="dropdown-menu row" style="width:780pxđạp ;">
                                        <div class="col-md-6">
                                            <h5>Danh Mục Sản Phẩm</h5>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>Danh Mục Sản Phẩm</h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <form action="#" method="GET" class="timkiem">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Từ khóa tìm kiếm" aria-label="Từ khóa tìm kiếm" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="submit">Tìm Kiếm</button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                        <ul class="navbar-nav justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
                                    </svg> Thông Báo
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GioHang">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                                        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                                    </svg> Giỏ Hàng
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark t" data-bs-toggle="modal" data-bs-target="#myModal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                    </svg> Tài Khoản
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div>
            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog container">
                    <div class="modal-content group-tabs">

                        <!-- Modal Header -->
                        <div class="modal-header nav nav-tabs" role="tablist">
                            <div class="nav nav-tabs col-12" role="tablist">
                                <a role="presentation tab" class="active dndk col-6" style="width:100%" href="#home" aria-controls="home" data-toggle="tab">Đăng Nhập</a>
                                <a role="presentation tab" class="dndk col-6" href="#profile" aria-controls="profile" data-toggle="tab">Đăng Ký</a>
                            </div>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body tab-content">
                            <div class="row container">
                                <div class="group-tabs container">
                                    <!-- Tab panes -->
                                    <div class="tab-content container">
                                        <div role="tabpanel" class="tab-pane active " id="home">
                                            <form class="form " style="justify-content:center">
                                                <p>Tài Khoản</p>
                                                <input class="text" />
                                                <p>Mật Khẩu</p>
                                                <input class="text" type="password" />
                                                <br />
                                                <input type="checkbox" /> Ghi Nhớ
                                                <br />
                                                <input class="btn btn-success" style="text-align:center" type="button" value="Đăng Nhập" />
                                            </form>
                                        </div>
                                        <div role="tabpanel" class="tab-pane " id="profile">
                                            <form class="form">
                                                <p>Tài Khoản</p>
                                                <input class="text" />
                                                <p>Mật Khẩu</p>
                                                <input class="text" type="password" />
                                                <p>Nhập Lại Mật Khẩu</p>
                                                <input class="text" type="password" /><br />
                                                <input class="btn btn-warning" type="button" value="Đăng Ký" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer group-tabs">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="container cuoitrang">
        <div class="row cuoicc">
            <div class="col-4">
                <img src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/logo.png" />
                <p>Lầu 5, 387-389 Hai Bà Trưng Quận 3 TP HCMCông Ty Cổ Phần Phát Hành Sách TP HCM - FAHASA60 - 62 Lê Lợi, Quận 1, TP. HCM, Việt Nam</p>
                <p>Fahasa.com nhận đặt hàng trực tuyến và giao hàng tận nơi. KHÔNG hỗ trợ đặt mua và nhận hàng trực tiếp tại văn phòng cũng như tất cả Hệ Thống Fahasa trên toàn quốc.</p>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <h6>Dịch Vụ</h6>
                        <p>Điều khoản sử dụng</p>
                        <p>Chính sách bảo mật thông tin cá nhân</p>
                        <p>Chính sách bảo mật thanh toán</p>
                        <p>Giới thiệu Fahasa</p>
                        <p>Hệ thống trung tâm - nhà sách</p>
                    </div>
                    <div class="col-4">
                        <h6>Hỗ Trợ</h6>
                        <p>Chính sách đổi - trả - hoàn tiền</p>
                        <p>Chính sách bảo hành - bồi hoàn</p>
                        <p>Chính sách vận chuyển</p>
                        <p>Chính sách khách sỉ</p>
                        <p>Phương thức thanh toán và xuất HĐ</p>
                    </div>
                    <div class="col-4">
                        <h6>Tài Khoản Của Tôi</h6>
                        <p>Đăng Nhâp/Tạo mới tài khoản</p>
                        <p>Thay đổi địa chỉ </p>
                        <p>Chi tiết tài khoản</p>
                        <p>Lịch sử mua hàng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

