@if (TempData["SuccessMessage"] != null)
{
	<script>
		alert('@TempData["SuccessMessage"]');
	</script>
}

@if (TempData["ErrorMessage"] != null)
{
	<script>
		alert('@TempData["ErrorMessage"]');
	</script>
}
<style>
	.addPromotion-content {
		display: grid;
		grid-template-rows: repeat(3,1fr);
		border: 1px solid black;
	}



	.Promotion {
		grid-column: 1/2;
		grid-row: 2/3;
		border: 1px solid black;
	}

	.ProductPromotion {
		grid-row: 3/4;
		grid-column: 1/2;
		border: 1px solid black;
	}

	.Product {
		font-size: xx-small;
		grid-column: 2/4;
		grid-row: 2/4;
		border: 1px solid black;
	}
	

	table {
		width: 100%;
		border-collapse: collapse;
		margin-top: 20px;
	}

	th, td {
		border: 1px solid #ddd;
		padding: 8px;
		text-align: left;
	}

	#selectAll {
		margin-top: 6px;
	}
th:first-child{
		width:1%;
	}
	th:nth-child(2) {
		width:1%;
	}

	th:nth-child(3){
		
	}
	th:nth-child(4),
	th:nth-child(5),
	th:nth-child(6) {
		width: 2%;
	}
	th img{
		height: 50px;
		position: relative;
		overflow: hidden;
		background-size: cover;
		background-repeat: no-repeat;
		display: block;
		width: auto;
	}
</style>
<div class="addPromotion">
	<div class="container">
		<div class="addPromotion-content">
				<div class="search-container">
					<label for="searchInput">Search:</label>
					<input type="text" id="searchInput" onkeyup="searchProduct()">
				</div>

			<div class="Promotion">
			</div>
			<div class="ProductPromotion">
			</div>
			<div class="Product">
				<table class="table">
					<thead>
						<tr>
							<th><input type="checkbox" id="selectAll"></th>
							<th scope="col">image</th>
							<th scope="col">name</th>
							<th scope="col">price</th>
							<th scope="col">quantity</th>
							<th scope="col">status</th>
							<th scope="col">options</th>
						</tr>
					</thead>
					<tbody id="product-list">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		getProductData();
	});

	function getProductData() {
		$.ajax({
			url: "@Url.Action("GetProduct", "AddPromotionsToProducts")",
			type: 'GET',
			dataType: 'json',

			success: function (data) {
				displayProductData(data);
				alert(JSON.stringify(data));
			},
			error: function (error) {
				alert('Error fetching product data: ' + JSON.stringify(error));
			}
		});
	}

	function displayProductData(products) {
		var productListDiv = $('#product-list');

		productListDiv.empty();

		products.forEach(function (product) {
			console.log(product);
			var table =
				'<tr>' +
				'<th><input type="checkbox" class="btn btn-info" onclick="checkChange(' + product.id + ')"/></th>' +
				'<th><img src="' + product.imgUrl + '" alt="Product Image"></th>' +
				'<th>' + product.name + '</th>' +
				'<th>' + product.price + '</th>' +
				'<th>' + product.quantity + '</th>' +
				'<th>' + product.status + '</th>' +
				'</tr>';
			productListDiv.append(table);
		});
	}

	function searchProduct() {
		var input, filter, table, tr, td, i, txtValue;
		input = document.getElementById("searchInput");
		filter = input.value.toUpperCase();
		table = document.getElementById("product-list");
		tr = table.getElementsByTagName("tr");

		for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("th")[2];
			if (td) {
				txtValue = td.textContent || td.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}

</script>
