
<style>
	.filter-content {
		display: grid;
		grid-template-columns: repeat(4,1fr);
		gap: 10px
	}


	.filter_left {
		grid-column: 1/2;
		display: block;
		gap: 10px;
		background-color: white;
		font-family: "Poppins", sans-serif;
	}

	.filter_right {
		background-color: white;
		grid-column: 2/5;
		display: grid;
		padding: 0 10px;
	position:relative;
		gap: 10px;
	}

	.card-title-right {
		grid-column: 1/5;
		grid-row: 1/1;
	}


	.product-image {
		width: 100%;
	}

	img {
		width: 100%;
	}

	.product-box:hover {
		box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
		-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
	}

	.card-title {
		padding-left: 10px;
		display: flex;
		justify-content: space-between;
	}

	.card-title-left p {
		margin-top: inherit;
		margin-bottom: inherit;
	}

	.card-title-left {
		display: flex;
		line-height: 60px;
		font-size: 20px;
		justify-content: center;
		font-weight: 600;
		text-align: center;
		color: #C92127;
		border-bottom: 2px solid #f6f6f6;
	}

	.card-title {
		color: black;
		justify-content: start;
		font-size: 16px;
		font-weight: 600;
		display: block;
	}

	li {
		list-style: none;
	}

	ul {
		font-weight: 100;
		font-size: 13px;
	}

	.author, .genre, .category, .supplier {
		border-bottom: 2px solid #f6f6f6;
	}

	.filter-content .search-bar {
		justify-content: center;
	
		position: absolute;
		top: 10px;
	
		display: flex;
	}
	.fl{
		margin-top:80px;
		display:grid;
		grid-template-columns:repeat(4,1fr);
		gap:5px;
	}

	.km-sp {
		font-weight: 700;
		font-size: 14px;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		display: flex;
		height: 30px;
		width: 40px;
		color: white;
		border-radius: 6px;
		
		background-color: #C92127;
	}

	.filter .testsp p{
		font-size:14px;
		font-weight:700;
	}

	.filter .giaban{
		align-items:center;
		display:flex;
		gap:10px;
	}

	.filter .giaban p{
			color: #C92127 ;margin-bottom:0;
	}
	.ttsp{
		
		font-size:14px;
		font-weight:700;
		min-height: 42px;
		line-height: 1.4;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		display: -webkit-box;
	}

	.filter .testsp:hover {
		box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
	}

	.filter .testsp{
		padding: 10px;
	}
</style>
<div class="filter">
	<div class="container">
		<div class="filter-content">
			<div class="filter_left">
				<div class="card-title-left">
					<p>
						LỌC THEO
					</p>
				</div>
				<div class="author">
					<div class="card-title">
						<p>
							Tác giả
						</p>
						<ul>
							<li>
								<input type="checkbox" /> duy
							</li>
							<li>
								<input type="checkbox" /> duy
							</li>
							<li>
								<input type="checkbox" /> duy
							</li>

						</ul>
					</div>
				</div>
				<div class="genre">
					<div class="card-title">
						<p>
							Danh mục
						</p>
					</div>
				</div>
				<div class="category">
					<div class="card-title">
						<p>
							Thể loại
						</p>
					</div>
				</div>
				<div class="supplier">
					<div class="card-title">
						<p>
							Nhà cung cấp
						</p>
					</div>
				</div>
				<div class="price">
					<div class="card-title">
						<p>
							giá
						</p>
						<div id="price-range">
							<label for="price">Chọn giá tiền:</label>
							<input type="range" id="price" name="price" min="0" max="10000000" value="0" step="100" oninput="updatePrice(event)">
							<p id="selected-price">Giá tiền: <span id="price-value">0</span> VND</p>
						</div>
					</div>
				</div>
			</div>
			<div class="filter_right">
				<div class="search-bar">
					<a><i class="fa fa-search" style="font-size:30px" onclick="findOrder()"></i></a>
					<input id="keyWordFind" oninput="searchOnEnter(event)" type="text" placeholder="Tìm kiếm">
				</div>

				<div class="fl" id="listcategory">
				</div>
				<div id="buttonContainer"></div>
			</div>
			
		</div>
	</div>
</div>
<script src="~/js/site.js"></script>
<script>
	function ChiTietSanPham(id) {
		var url = "@Url.Action("ChiTietSanPham", "Home")?id=" + id;
		window.location.href = url;
	}
	function loadData(pageIndex) {

		var keyWord = document.getElementById("keyWordFind").value;
		var price = document.getElementById("price").value;
		console.log("pageIndex:", pageIndex);
		console.log("keyWord:", keyWord);
		console.log("price:", price);
		$.ajax({
			url: '@Url.Action("Getdata", "SearchAndFilter")',
			type: 'GET',
			data: { page: pageIndex, keyWord: keyWord, min: price },
			
			success: function (data) {
				console.log(data);
				var listcategory = $("#listcategory");
				listcategory.empty();
				data.data.forEach(function (item) {
					var categoryRow =
						'<div class="testsp" onclick="ChiTietSanPham(' + item.id + ')">' +
						'<div class="product-image">' +
						'<div class="flashsale-image-container">' +
						'<img src="' + item.imgUrl + '">' +
						'</div>' +
						'</div>' +
						'<div class="ttsp">' +
						'<a>' + item.name + '</a>' +

						'</div>' +
						'<div class="giaban">' + '<p>' +
						formatPrice(item.price) + '</p>'+
						
						'<div class="km-sp">' + "10 %" + '</div>' +
						'</div class="giabandau">' +
						'<div>' +'<p>' + "200.000 đ" + '</p>' +'</div>'
						'</div>';

					listcategory.append(categoryRow);
				});
				createPagingButtons(1, data.max, data.page);
			},
			error: function (error) {
				console.log(error);
			}
		});
	};
	$(document).ready(function () {
		loadData(1);
		
	});
	function searchOnEnter(event) {
		loadData(1);
		
	}

	function formatPrice(price) {
		const formattedPrice = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
		return formattedPrice + ' đ';
	}
	function updatePrice(event) {	
		loadData(1);
		var priceSlider = document.getElementById("price");
		var priceValue = document.getElementById("price-value");
		priceValue.innerHTML = formatPrice(priceSlider.value);
		
	}



</script>
